@model BugTracker2.Models.Bug

@{
    ViewData["Title"] = "Delete Bug";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Delete Bug</h1>

<h3>Are you sure you want to delete this bug from @Model.Project.ProjectName?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BugName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BugName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ReportDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ReportDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Severity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Severity.SeverityDisplay)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Status.StatusDisplay)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Behavior)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Behavior)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StepsDescription)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StepsDescription)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserReported)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserReported.FullName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserAssigned)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserAssigned.FullName)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="BugId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Details" asp-controller="Projects" asp-route-id="@Model.ProjectId">Back to List</a>
    </form>
</div>
